/* Compiled with https://marketplace.visualstudio.com/items?itemName=MadsKristensen.WebCompiler */
* {
  margin: 0;
  padding: 0;
  font-size: 12pt;
  font-family: 'Open Sans'; }

.quote-pdf {
  width: 800px;
  display: block; }
  .quote-pdf td {
    vertical-align: top; }
  .quote-pdf__item {
    padding: 5px; }
  .quote-pdf__icon {
    width: 240px;
    vertical-align: top; }
  .quote-pdf__customer {
    margin-top: 20px;
    margin-bottom: 20px; }
  .quote-pdf__title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px; }
  .quote-pdf__company {
    width: 300px;
    float: right; }
  .quote-pdf__phone {
    display: inline-block; }
  .quote-pdf__table {
    margin-bottom: 20px; }
    .quote-pdf__table table {
      border-spacing: 0px;
      border-collapse: collapse; }
    .quote-pdf__table table, .quote-pdf__table th, .quote-pdf__table td {
      border: 1px black solid;
      padding: 5px; }
  .quote-pdf__notes th {
    text-align: left; }
  .quote-pdf__summary td {
    max-width: 500px; }
