<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <!-- Define Aliases-->
  <alias alias="ComplexGenericInterfaceType"
         type="ConfiguringUnity.ComplexGenericClass`1[[ConfiguringUnity.GenericClass, ConfiguringUnity, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]], ConfiguringUnity, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  <!-- End Aliases -->
  <!-- Define Assemblies-->
  <assembly name="ConfiguringUnity" />
  <!-- End Assemblies-->

  <!-- Define Namespaces-->
  <namespace name="ConfiguringUnity" />
  <!-- End Namespaces-->
  <container>
    <register type="INormalInterface" mapTo="NormalInterfaceImplementation" />
    <register type="NormalClass" />
    <register type="IGenericInterface[]" mapTo="GenericInterfaceImplementation[]" />
    <register type="IGenericInterfaceWithTwoParameter`2" mapTo="GenericInterfaceWithTwoParametersImplementation`2" />
    <register type="IComplexGenericInterface[ComplexGenericInterfaceType]" mapTo="ComplexGenericInterfaceImplementation" />
    <register type="IConflictingInterface" mapTo="ConflictingInterfaceImplementation" />
    <register type="ExternalLibrary.IConflictingInterface, ExternalLibrary, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" mapTo="ExternalLibrary.ConflictingInterfaceImplementation, ExternalLibrary, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <register type="IOverridableDependency" mapTo="OverridableConfigImplementation" />
  </container>
</unity>