<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="cf6e8377-83ca-4fd2-8f81-61782808ff9d"
            Publisher="CN=rahulpul"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>IncrementalLoading</DisplayName>
    <PublisherDisplayName>rahulpul</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="IncrementalLoading.App">
        <VisualElements
            DisplayName="IncrementalLoading"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="IncrementalLoading"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>