<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.9.4" targetFramework="net472" />
  <package id="Autofac.Extras.Quartz" version="4.5.1" targetFramework="net472" />
  <package id="Quartz" version="3.0.7" targetFramework="net472" />
  <package id="Topshelf" version="4.2.1" targetFramework="net472" />
  <package id="Topshelf.Autofac" version="4.0.1" targetFramework="net472" />
</packages>